<div class="member" *ngIf="formMember">
  <div class="member__info">
    <h1 class="member__name">
      {{formMember.name}}
    </h1>
    <div class="member__description">
      {{formMember.description}}
    </div>
    <div class="member__info-line">
      <span class="member__label">Gender:</span> {{formMember.prettyGender}}
    </div>
    <div class="member__info-line">
      <span class="member__label">Job:</span> {{formMember.job}}
    </div>
  </div>

  <div class="member__skills">
      <app-skill-editor
        [canEdit]="canEditSkills"
        [skills]="formMember.skills"
        (addSkill)="addSkill($event)"
        (changeSkill)="changeSkill($event)"
        (removeSkill)="removeSkill($event)"
      ></app-skill-editor>
  </div>

  <div class="member__controls" *ngIf="canEdit">
    <button (click)="save()" class="button button--submit">
      Save
    </button>
    <button (click)="undo()" class="button button--undo">
      Undo
    </button>
  </div>

</div>
