<div *ngIf="pending.member">Loading...</div>
<div class="member" *ngIf="formMember && !pending.member">
  <div class="member__info">
    <h1 class="member__name">
      {{formMember.name}}
    </h1>
    <div class="member__description">
      {{formMember.description}}
    </div>
    <div class="member__info-line">
      <span class="member__label">Gender:</span> {{formMember.prettyGender}}
    </div>
    <div class="member__info-line">
      <span class="member__label">Job:</span> {{formMember.job}}
    </div>
  </div>

  <div class="member__skills">
      <app-skill-editor
        [canEdit]="canEditSkills"
        [skills]="formMember.skills"
        (addSkill)="addSkill($event)"
        (changeSkill)="changeSkill($event)"
        (removeSkill)="removeSkill($event)"
      ></app-skill-editor>
  </div>

  <div *ngIf="formError" class="member__form-errors">
    {{formError}}
  </div>
  <div class="member__controls" *ngIf="canEdit">
    <button [disabled]="!skillsValid || !memberChanged" (click)="save()" class="member__control button button--large button--submit">
      Save
    </button>
    <button [disabled]="!memberChanged" (click)="undo()" class="member__control button button--large button--undo">
      Undo
    </button>
  </div>

</div>
