@import "../../../../assets/styles/mixins";

.company {
  &__name {
    @include pageTitle();
  }
  &__description {
    margin-top: 5px;
    @include description();
  }
  &__departments {
    margin-top: 20px;
    max-width: 500px;
  }
  &__subtitle {
    @include subtitle();
  }
}

.departments-list {
  margin: 10px 0 0 10px;
  &__item {
    @include listItem();
  }
  &__link {
    @include listLink();
  }

}
