@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.skills-chart {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  &__chart {
    flex: 0 0 auto;
    order: 5;
  }
  &__legend {
    flex: 0 0 auto;
    order: -5;
    margin-bottom: 20px;
    margin-right: 15px;
  }
  &__skill {
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.skill-legend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  &__color {
    display: block;
    flex: 0 0 auto;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-radius: $border-radius;
  }
  &__text {
    flex: 0 0 auto;
    font-size: 12px;
    margin-left: 5px;
  }
}
