@import "../../../../assets/styles/mixins";

.department {
  &__name {
    @include pageTitle();
  }
  &__description {
    margin-top: 5px;
    @include description();
  }
  &__content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &__team {
    flex: 0 0 auto;
    min-width: 200px;
  }
  &__active-member {
    flex: 1 1 auto;
    margin-left: 20px;
  }
  &__subtitle {
    @include subtitle();
  }
  &__team-leader {
    margin-top: 10px;
    @include listItem();
    @include listLink();
  }
  &__add-member {
    margin-top: 15px;
  }
}

.members-list {
  margin-top: 10px;
  &__item {
    @include listItem();
  }
  &__link {
    @include listLink();
  }

}
