<div class="skill">
  <div class="skill__info">
    <div class="skill__label">{{skill.key}}:</div>
    <input
      min="0"
      max="100"
      title="Skill level from 0 to 100"
      [formControl]="skillControl"
      [class.input--invalid]="skillControl.touched && skillControl.invalid"
      class="skill__value input"
      type="number">
  </div>
  <button
      *ngIf="canEdit"
      (click)="remove($event)"
      class="skill__remove button button--small button--discard">
    X
  </button>
</div>

