@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
}

.app-container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
  padding-bottom: 20px;
  &__content {
    margin-top: 20px;
  }
}

.button {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  text-align: center;
  transition: background-color $animation-time-default ease;
  outline: none;
  cursor: pointer;
  &[disabled] {
    opacity: .3;
    cursor: not-allowed;
  }
  &--inline {
    display: inline-block;
  }
  &--submit {
    color: white;
    @include colorize-button($color-submit);
  }
  &--discard {
    color: white;
    @include colorize-button($color-discard);
  }
  &--undo {
    color: white;
    @include colorize-button($color-undo);
  }
  &--small {
    padding: 3px 6px;
    font-size: 12px;
  }
  &--inline-input {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
  }
  &--large {
    font-size: 20px;
    padding: 10px 30px;
  }
}

.labeled-input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
  &__label {
    flex: 0 0 auto;
    font-weight: bold;
  }
  &__input {
    margin-top: 5px;
    flex: 0 0 auto;
    width: 100%;
  }
}

.input {
  @include input();
}

.textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  resize: vertical;
  font-family: sans-serif;
}

.dropdown {
  font-size: 16px;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding: 5px;
  &__option {
    padding: 5px;
  }
}

@media (max-width: 1220px) {
  .app-container {
    width: 100%;
    padding: 0 20px;
  }
}
