@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
}

.app-container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
  &__content {
    margin-top: 20px;
  }
}

.button {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  text-align: center;
  transition: background-color $animation-time-default ease;
  outline: none;
  cursor: pointer;
  &--inline {
    display: inline-block;
  }
  &--submit {
    color: white;
    @include colorize-button($color-submit);
  }
  &--discard {
    color: white;
    @include colorize-button($color-discard);
  }
  &--undo {
    color: white;
    @include colorize-button($color-undo);
  }
  &--small {
    padding: 3px 6px;
    font-size: 12px;
  }
}

@media (max-width: 1220px) {
  .app-container {
    width: 100%;
    padding: 0 20px;
  }
}
