@import "./variables";
@mixin pageTitle() {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin subtitle() {
  font-size: 20px;
  font-weight: 400;
}

@mixin listItem() {
  display: block;
}

@mixin listLink() {
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 0;
  cursor: pointer;
  color: black;
  transition: background-color $animation-time-default ease;
  &:hover {
    background-color: #eeeeee;
  }
}
