@import "./variables";
@mixin pageTitle() {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin subtitle() {
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
  &:first-child {
    margin-top: 0;
  }
}

@mixin description() {
  font-size: 14px;
  line-height: 1.4;
}

@mixin listItem() {
  display: block;
}

@mixin listLink() {
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  transition: background-color $animation-time-default ease;
  &:hover {
    background-color: #eeeeee;
  }
  &--disabled {
    &:hover {
      background: none;
    }
  }
}

@mixin colorize-button($color) {
  background-color: $color;

  &:hover {
    background-color: lighten($color, 10%);
  }
  &:active {
    background-color: darken($color, 10%);
  }
}

@mixin input() {
  padding: 5px 5px;
  font-size: 16px;
  line-height: 1;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  outline: none;
  &--invalid {
    border-color: $color-discard !important;
  }
  &[disabled] {
    background: none;
    border: none;
    cursor: default;

  }
}
