@import "../../../../assets/styles/mixins";

.skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  &__list {
    flex: 0 0 auto;
    max-width: 300px;
  }
  &__chart {
    flex: 0 0 auto;
    &--hidden {
      display: none;
    }
  }
  &__form {
    margin-top: 15px;
  }
}

.add-skill {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  &__input {
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.subtitle {
  @include subtitle();
  margin-bottom: 10px;
}

@media (max-width: 1150px) {
  .skills {
    flex-direction: column;
    &__list {
      order: -5;
    }
    &__chart {
      order: 5;
      margin-top: 10px;
    }
  }
}
