<h3 class="subtitle">Skills</h3>
<div class="skills" *ngIf="skills">
  <div class="skills__list">
    <app-skill
      *ngFor="let skill of skills;"
      [skill]="skill"
      [canEdit]="canEdit"
      (removeSkill)="remove($event)"
      (changeSkill)="change($event)"
    ></app-skill>
    <form
        *ngIf="canEdit"
        [formGroup]="skillForm"
        (ngSubmit)="add()"
        novalidate
        class="add-skill skills__form">
      <label title="Skill name up to 255 characters" class="add-skill__input labeled-input">
        <div class="labeled-input__label">
          Skill name
        </div>
        <input
          formControlName="key"
          maxlength="255"
          [class.input--invalid]="skillForm.get('key').touched && skillForm.get('key').invalid"
          class="input labeled-input__input"
          type="text">
      </label>
      <label title="Skill level from 0 to 100" class="add-skill__input labeled-input">
        <div class="labeled-input__label">
          Level
        </div>
        <input
          min="0"
          max="100"
          formControlName="value"
          [class.input--invalid]="skillForm.get('value').touched && skillForm.get('value').invalid"
          class="input labeled-input__input labeled-input__input--skill"
          type="number">
      </label>
      <button
          type="submit"
          [disabled]="!skillForm.valid || hasSameSkill"
          class="add-skill__input button button--inline-input button--submit">
        Add
      </button>
    </form>
  </div>
  form value: {{skillForm.value | json}}<br>
  form status: {{skillForm.status | json}}<br>
  hasSameSkill: {{hasSameSkill}}<br>
  <div class="skills__chart">
    chart
  </div>
</div>
